{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <nav>
            <img src="{% static 'logo.png' %}" alt="Логотип" class="logo">
            <a href="{% url 'room_list' %}">Головна</a>
            <a href="{% url 'create_booking' %}">Забронювати кімнату</a>
            <a href="{% url 'show_calendar' %}">Календар</a>
            <a href="{% url 'my_bookings' %}">Мої бронювання</a>
            <div id="indicator"></div>
        </nav>
    </header>
    <main>  
        <h2>Створити бронювання</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Забронювати</button>
        </form>
    </main>
    <footer>
        <div class="contact-info">
            <p>Зв'яжіться з нами:</p>
            <p>Email: info@hotel.com | Телефон: +380 (123) 456-78-90</p>
        </div>
        <div class="social-links">
            <a href="https://facebook.com/hotel" target="_blank">Facebook</a>
            <a href="https://instagram.com/hotel" target="_blank">Instagram</a>
            <a href="https://twitter.com/hotel" target="_blank">Twitter</a>
        </div>
        <div class="copyright">
            &copy; 2025 Готель LABYRINTH. Усі права захищено.
        </div>
    </footer>
</body>
{% endblock %}